{% extends 'base.html' %} 

{% block content %}

<!-- <h1>{{content_type}}</h1> -->
<h1>
    Custom Filtering
</h1>

<div class="container pt-3 mb-5">
    
  <p>You can combine filters to narrow down your search results.</p>

    <form action="{%url 'filtering:filter_custom_search' %}" method="GET" >
      {% csrf_token %}

      <div class="row">
          <div class="col">
              <p>Class</p>
              <select class="selectpicker" name="multi_filter_class">
                  <option selected></option>
                  {% for key,value in HERO_CLASS_CHOICES %}
                      <option value="{{key}}">{{ value }}</option> 
                  {% endfor %}
              </select>
          </div>

          <div class="col">
            <p>ATK Type</p>

            <select class="selectpicker" name="multi_filter_atk_type">
              <option selected></option>
              <option>Physical</option>
              <option>Magic</option>
            </select>
          </div>

          <div class="col">
            <p>Hero</p>

            <select name="hero_name" class="selectpicker" data-live-search="true" >
              <option value="" selected></option>
              {% for hero in heroes %}
                <option value="{{hero}}">{{ hero }}</option>
              {% endfor %}
            </select>
            
          </div>

         

         

      </div>

      <div class="row mt-3">

        <div class="col">
          <p>Content Type</p>

          <select name="sub_content" class="selectpicker" data-live-search="true">
            <option value="" selected></option>
            {% for tag in sub_content %}
              <option value="{{ tag.sub_content }}">{{ tag.main_content }}: {{ tag.sub_content }}</option>
            {% endfor %}
          </select>
        </div>

      </div>

      <div class="row">

        <div class="col">
          <p>&nbsp;</p>
          <button type="submit" class="btn btn-dark mb-2" >
              Go
          </button>
        </div>

        <div class="col text-right">
          <p>&nbsp;</p>
          <button type="button" class="btn btn-secondary" id="custom_search_clear">Clear</button>
        </div>

      </div>

  </form>

   
 

    



</div>



{% endblock %}