{% extends 'base.html' %} 

{% block content %}

<!-- <h1>{{content_type}}</h1> -->
<h1>
    {% firstof content_type hero_class hero_name multi_header %}
</h1>

<div class="container pt-3">
    {% if builds %}

        {% include 'builds/builds.html' %}
        
        {% include '_pagination.html' %}

    {% else %}

        <p>There are no submitted builds that meet your criteria.</p>

    {% endif %}
</div>



{% endblock %}