{% extends 'base.html' %} 

{% block content %}


{% if main_content %}

<h1 class="font-weight-light">Filter by Content</h1>

<p>Please select a category to view more options.</p>

<div class="accordion" id="accordionContentTags">
    <div class="card">
              
        {% for main_tag in main_content %}
            
            <div class="card" id="headingOne">
                
                <button class="btn btn-lg btn-light btn-block" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                    
                        {{ main_tag.main_content }}
                    
                </button>
                
            </div>  
            
            <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionContentTags">
                <div class="card-body">
                    <div class="btn-group-toggle m-2">
                        
                        {% for sub_tag in sub_content  %}
                            {% if sub_tag.main_content == main_tag.main_content  %}
                                <a class="btn btn-dark m-1" href="{% url 'filtering:content' content_value=sub_tag.sub_content %}">{{ sub_tag.sub_content }}</a>
                        
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% endfor %}
               
    </div>
</div>

{% endif %}

        

{% endblock %}