{% extends 'base.html' %} 

{% block content %}

    <h1 class="font-weight-light ">Filter by Hero</h1>
    <h6 class="text-muted pb-3">Only heroes that have a submitted build will be shown.</h6>

    <!-- {% if heroes %}
        
        {% for hero in heroes %}

            
            {% if hero.hero_class == 'Knight' %}
                <label class="badge badge-light ">Knight: </label>   <br>
                <a class="btn btn-dark" href="{% url 'filtering:hero_name' hero %}">{{ hero }}</a> 
            {% endif %}
           
            {% if hero.hero_class == 'Warrior' %}
                <label class="badge badge-light ">Warrior: </label>   <br>
                <a class="btn btn-dark" href="{% url 'filtering:hero_name' hero %}">{{ hero }}</a> 
            {% endif %}
        {% endfor %}
        
    {% endif %} -->


    <!-- {% if heroes %}


        
        {% for hero in heroes %}
            <div class="btn-group-toggle m-2 d-inline">
                    <label class="badge badge-light ">{{ hero.hero_class }}: </label>   <br>
                    <a class="btn btn-dark" href="{% url 'filtering:hero_name' hero %}">{{ hero }}</a>  
            </div>
        {% endfor %}
    {% endif %} -->
    
   



    <!-- {% if hero_choices and heroes %}
            
        
        {% for class_name,hero_name in hero_choices.items %}
            
                
            <div class="btn-group-toggle m-2">
                <label class="badge badge-light ">{{ class_name }}: </label>   <br>
                {% for key,value in hero_name.items  %}
                   
                    {% if key in heroes %}
                        <a class="btn btn-dark" href="{% url 'filtering:hero_name' key %}">{{ value }}</a>
                    {% endif %}
                    
                {% endfor %}
            </div>
            
        {% endfor %}
        

    {% endif %} -->


    <div class="accordion" id="accordionContentTags">
        <div class="card">

            {% for class_name,hero_name in hero_choices.items %}

                <div class="card" id="headingOne">
                    <button class="btn btn-lg btn-light btn-block" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                    
                            {{ class_name }}
                        
                    </button>
                </div>

                <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionContentTags">
                    <div class="card-body">
                        <div class="btn-group-toggle m-2">
                            <!-- <label class="badge badge-light ">{{ main_tags }}: </label>   <br> -->
                            {% for build in builds %}
            
                                {% for key,value in hero_name.items  %}
                                
                                    {% if key == build.hero.hero_name %}
                                        <a class="btn btn-dark" href="{% url 'filtering:hero_name' key %}">{{ value }}</a>
                                    {% endif %}
                                    
                                {% endfor %}
                            
                            {% endfor %}
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>




<!-- 9/2/2019 -->
    <!-- {% for class_name,hero_name in hero_choices.items %}
        <div class="btn-group-toggle m-2">
            <label class="badge badge-light ">{{ class_name }}: </label>   <br>
            {% for build in builds %}
    
                    {% for key,value in hero_name.items  %}
                    
                        {% if key == build.hero.hero_name %}
                            <a class="btn btn-dark" href="{% url 'filtering:hero_name' key %}">{{ value }}</a>
                        {% endif %}
                        
                    {% endfor %}
                
            {% endfor %}
        </div>
    {% endfor %} -->

    <!-- Lists all the heroes names -->
    <!-- {% if hero_choices and heroes %}

        {% for class_name,hero_name in hero_choices.items %}
                
                    
            <div class="btn-group-toggle m-2">
                <label class="badge badge-light ">{{ class_name }}: </label>   <br>
                {% for key,value in hero_name.items  %}
                
                    {% if key in heroes %}
                        <a class="btn btn-dark" href="{% url 'filtering:hero_name' key %}">{{ value }}</a>
                    {% endif %}
                    
                {% endfor %}
            </div>
            
        {% endfor %}


    {% endif %} -->

{% endblock %}