{% extends 'base.html' %} 

{% block content %}

<h1 class="font-weight-light pb-3">Filter by Class</h1>

{% if HERO_CLASS_CHOICES %}
    
    
    
    {% for key,value in HERO_CLASS_CHOICES %}
        <div class="btn-group-toggle m-2 d-inline">
                
                <a class="btn btn-dark" href="{% url 'filtering:hero_class' key %}">{{ value }}</a>  
        </div>
    {% endfor %}

   
    
    


{% endif %}
        

{% endblock %}