{% extends 'base.html' %} 

{% block content %}


<h1 class="text-center">Search Skills</h1>
<p class="text-muted text-center">Search is not case-sensitive.</p>

<div class="row mb-3">
  <input type="text" placeholder="Search..." id="search_skills" class="form-control mb-3">

  <button role="button" class="btn btn-sm btn-outline-secondary search_skill mx-1">Shackle</button>
  <button role="button" class="btn btn-sm btn-outline-secondary search_skill mx-1">Freeze</button>
  <button role="button" class="btn btn-sm btn-outline-secondary search_skill mx-1">Poison</button>
  <button role="button" class="btn btn-sm btn-outline-secondary search_skill mx-1">Dispel</button>

</div>
   
  
{% for skills in skillset %}

<div class=" hero_div hidden" id="hero_div_{{skills.hero.hero_name}}">
  <div class="row">
    
    <div class="col-auto">
      <h5 class="">{{ skills.hero.hero_name }}</h5>
    </div>

    <div class="col">

      <div class="row">
        <div class="hero_div">

          <div class="">
            <p class="badge badge-dark mb-0">S1: {{ skills.skill_1_name }}</p>
            <p>
              {{ skills.skill_1_description|linebreaks  }}
            </p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="hero_div">
 
          <div class="">
            <p class="badge badge-dark mb-0">S2: {{ skills.skill_2_name }}</p>
            <p>
              {{ skills.skill_2_description|linebreaks  }}
            </p>
          </div>

        </div>
      </div>
    
      <div class="row">
        <div class="hero_div">
          
          <div class="">
            <p class="badge badge-dark mb-0">S3: {{ skills.skill_3_name }}</p>
            <p>
              {{ skills.skill_3_description|linebreaks  }}
            </p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="hero_div">
          
          <div class="">
            <p class="badge badge-dark mb-0">S4: {{ skills.skill_4_name }}</p>
            <p>
              {{ skills.skill_4_description|linebreaks  }}
            </p>
          </div>

        </div>
      </div>


    </div>

    
  </div>
</div>

  
{% endfor %}




{% endblock %}