{% for team in teams %}
  
<hr class="bg-secondary">
    <div class="row   m-2 p-2 rounded ">

      <div class="col-auto vertical-center align-right">
        <strong>
          # {{ forloop.counter }} <br>
        </strong>
          {% if team.total %} 
            {{ team.total }} pts
          {% endif %}
      
      </div>

      <div class="col ">
        <div class="row justify-content-center" >

            <div class="text-center d-block rounded p-2">
              {% with 'https://ik.imagekit.io/0h736tphh/krbuilds/hero/tr:n-50/'|add:team.slot1|add:'.png' as hero_img %}
                  <img class="hero_selector_img rounded" src="{{ hero_img }}" alt="" > <br>
              {% endwith %}
              <span class="border bg-light  text-center px-4 py-1  "><strong>{{team.slot1}}</strong></span>
            </div>

            <div class="text-center d-block rounded p-2">
              {% with 'https://ik.imagekit.io/0h736tphh/krbuilds/hero/tr:n-50/'|add:team.slot2|add:'.png' as hero_img %}
                  <img class="hero_selector_img rounded" src="{{ hero_img }}" alt="" > <br>
              {% endwith %}
              <span class="border bg-light  text-center px-4 py-1  "><strong>{{team.slot2}}</strong></span>
            </div>

            <div class="text-center d-block rounded p-2">
              {% with 'https://ik.imagekit.io/0h736tphh/krbuilds/hero/tr:n-50/'|add:team.slot3|add:'.png' as hero_img %}
                  <img class="hero_selector_img rounded" src="{{ hero_img }}" alt="" > <br>
              {% endwith %}
              <span class="border bg-light  text-center px-4 py-1  "><strong>{{team.slot3}}</strong></span>
            </div>
 
            <div class="text-center d-block rounded p-2">
              {% with 'https://ik.imagekit.io/0h736tphh/krbuilds/hero/tr:n-50/'|add:team.slot4|add:'.png' as hero_img %}
                  <img class="hero_selector_img rounded" src="{{ hero_img }}" alt="" > <br>
              {% endwith %}
              <span class="border bg-light  text-center px-4 py-1  "><strong>{{team.slot4}}</strong></span>
              
            </div>
           
        </div>

        {% if team.slot5 %}
        <div class="row mt-2 justify-content-center">

          {% if team.slot5 %}
            
              <div class="text-center d-block rounded p-2">
                {% with 'https://ik.imagekit.io/0h736tphh/krbuilds/hero/tr:n-50/'|add:team.slot5|add:'.png' as hero_img %}
                  <img class="hero_selector_img rounded" src="{{ hero_img }}" alt="" > <br>
                {% endwith %}
                <span class="border bg-light  text-center px-4 py-1  "><strong>{{team.slot5}}</strong></span>
              </div>
             
          {% endif %}
      
          {% if team.slot6 %}
            
              <div class="text-center d-block rounded p-2">
                {% with 'https://ik.imagekit.io/0h736tphh/krbuilds/hero/tr:n-50/'|add:team.slot6|add:'.png' as hero_img %}
                  <img class="hero_selector_img rounded" src="{{ hero_img }}" alt="" > <br>
                {% endwith %}
                <span class="border bg-light  text-center px-4 py-1  "><strong>{{team.slot6}}</strong></span>
              </div>
            
          {% endif %}
      
          {% if team.slot7 %}
            
              <div class="text-center d-block rounded p-2">
                {% with 'https://ik.imagekit.io/0h736tphh/krbuilds/hero/tr:n-50/'|add:team.slot7|add:'.png' as hero_img %}
                  <img class="hero_selector_img rounded" src="{{ hero_img }}" alt="" > <br>
                {% endwith %}
                <span class="border bg-light  text-center px-4 py-1  "><strong>{{team.slot7}}</strong></span>
              </div>
          
          {% endif %}
      
          {% if team.slot8 %}
            
              <div class="text-center d-block rounded p-2">
                {% with 'https://ik.imagekit.io/0h736tphh/krbuilds/hero/tr:n-50/'|add:team.slot8|add:'.png' as hero_img %}
                  <img class="hero_selector_img rounded" src="{{ hero_img }}" alt="" > <br>
                {% endwith %}
                <span class="border bg-light  text-center px-4 py-1  "><strong>{{team.slot8}}</strong></span>
              </div>
           
          {% endif %}

        </div>
        {% endif %}

      </div>

    </div>

    
  
  {% endfor %}