  <div class="row justify-content-center">
    <div class="col-6 ">
  
      <div class="form-row m-2">
        <div class="col-3">
          Hero 1: 
        </div>
        <div class="col">
          <select name="slot1" id="slot1" class="selectpicker option_remover" data-live-search="true" required >
            <option value="" selected></option>
            {% for hero in heroes %}
              <option value="{{hero}}">{{ hero }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
  
      <div class="form-row m-2">
        <div class="col-3">
          Hero 2: 
        </div>
        <div class="col">
          <select name="slot2" id="slot2" class="selectpicker option_remover" data-live-search="true" required >
            <option value="" selected></option>
            {% for hero in heroes %}
              <option value="{{hero}}">{{ hero }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-row m-2">
        <div class="col-3">
          Hero 3: 
        </div>
        <div class="col">
          <select name="slot3" id="slot3" class="selectpicker option_remover" data-live-search="true" required >
            <option value="" selected></option>
            {% for hero in heroes %}
              <option value="{{hero}}">{{ hero }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-row m-2">
        <div class="col-3">
          Hero 4: 
        </div>
        <div class="col">
          <select name="slot4" id="slot4" class="selectpicker option_remover" data-live-search="true" required >
            <option value="" selected></option>
            {% for hero in heroes %}
              <option value="{{hero}}">{{ hero }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
  
  
    </div>
  </div>

  


