{% extends 'base.html' %} 

{% block content %}
<h1 class="text-center">Create Team - {{ sub_content }}</h1>
<h6 class="text-muted text-center mb-4">You can search inside the dropdown.</h6>

<div class="container load_option_remover">

<form action="{%url 'top_teams:create_team' sub_content %}" method="POST" id=""   >
  {% csrf_token %}

  {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endif %}

  {% if content_tag.units_in_team == 4 %}
    {% include 'create_team_4man.html' %}
  {% elif content_tag.units_in_team == 6 %}
    {% include 'create_team_6man.html' %}
  {% elif content_tag.units_in_team == 7 %}
    {% include 'create_team_7man.html' %}
  {% elif content_tag.units_in_team == 8 %}
    {% include 'create_team_8man.html' %}
  {% endif %}


  <button type="submit" class="btn btn-dark mb-2" name="submit_team">
    Submit
  </button>
  
</form>

</div>


{% endblock %}