{% extends 'base.html' %} 

{% block content %}

<!-- <h1 class="text-center mb-3">Top 10 Teams - {{ content_type }}</h1> -->

  

<h1 class="text-center mb-5">Top Teams</h1>


<p class="">Top teams are based on hero popularity or submissions for each content type. Please select a category and content area to view top teams for that content.</p>

<!-- {% if main_content %}

<div class="row">
    <div class="col">

            <div class="accordion" id="accordionContentTags">
                <div class="card">
                            
                    {% for main_tag in main_content %}
                        
                        <div class="card" id="headingOne">
                            
                            <button class="btn btn-lg btn-light " type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                                
                                {{ main_tag.main_content }}
                                
                            </button>
                            
                        </div>  
                        
                        <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionContentTags">
                            <div class="card-body">
                                <div class="btn-group-toggle m-2">
                                    
                                    {% for sub_tag in sub_content  %}
                                        {% if sub_tag.main_content == main_tag.main_content  %}
                                            <a class="btn btn-dark m-1" href="{% url 'top_teams:view_teams' content_type=sub_tag.sub_content %}">{{ sub_tag.sub_content }}</a>
                                    
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
            
                    {% endfor %}
                            
                </div>
            </div> 


    </div>

</div>



{% endif %}  -->

 <div class="row">

    <div class="col-auto">

        {% if main_content %}

            <div class="accordion pt-3 mt-3" id="accordionContentTags">
            {% for main_tag in main_content %}
                <div class="card" id="heading{{forloop.counter}}">
                            
                    <button class="btn btn-sm btn-dark " type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                        
                        {{ main_tag.main_content }} +
                        
                    </button>
                    
                </div>  

                <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionContentTags">
                    <div class="">
                        <div class="btn-group-toggle m-2">
                            
                            {% for sub_tag in sub_content  %}
                                {% if sub_tag.main_content == main_tag.main_content  %}
                                    <a class="btn btn-sm btn-light d-block" href="{% url 'top_teams:view_teams' content_type=sub_tag.sub_content %}">{{ sub_tag.sub_content }}</a>
                            
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            {% endfor %}

            </div>
        {% endif %}

    </div>


    <div class="col">

        
        
        <div class="row">
            <div class="col text-center">
                <h5>Top 10 Teams - {{ content_type }}</h5>
                {% include './_teams.html' %}
            </div>
              
        </div>
       

        

    </div>


</div> 







{% endblock %}