{% extends 'base.html' %} 

{% block content %}


        

    
    <h1 class="font-weight-light text-center pb-3">My Builds</h1>
    
    

    
        {% if not builds %}

            <p>You have not posted any builds yet.</p>
            
        {% else %}
        <table class="table">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Hero</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Last Updated</th>
                        
                    </tr>
                </thead>

            {% for build in builds %}
            <tr class="text-center">
                
                <td>
                    {% with 'https://ik.imagekit.io/0h736tphh/krbuilds/hero/tr:n-55/'|add:build.hero.hero_name|add:'.png' as hero_img %}
                        <img class="rounded" src="{{ hero_img }}" alt=""> 
                    {% endwith %}      
                </td>
                <td>
                    <a href="{% url 'builds:view_build' build.id %}">{{ build.title }}</a>
                </td> 
                <td>
                    {{ build.created_at|date:"m/d/Y" }}
                </td>
                <td>
                    {{ build.updated_at|date:"m/d/Y" }}
                </td>
                <td>
                    <a class="btn btn-secondary" href="{% url 'builds:edit_build' build.id %}">Edit</a>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                        Delete
                    </button>
                </td>
    
    
                
            </tr>
    
            <!-- Modal -->

            <form action="{% url 'builds:delete_build' build.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        Are you sure you want to delete this build?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <!-- <a class="btn btn-danger" href="{% url 'builds:delete_build' build.id %}">Delete</a> -->
                        <button class="btn btn-danger" type="submit">Delete</button>
                        </div>
                    </div>
                    </div>
                </div>
            </form>
                    
            {% endfor %}


        {% endif %}
    </table>
    

    <div style="height: 400px"></div>
            




{% endblock %}