<label class="badge badge-dark ">Transcend Perks: </label>
<div class="form-group">
    <label class="badge badge-dark">T1 </label>
    
    {% if 'T1_1' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">1</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">1</button>
    {% endif %}
    {% if 'T1_2' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">2</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">2</button>
    {% endif %}
    {% if 'T1_3' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">3</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">3</button>
    {% endif %}
    {% if 'T1_4' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">4</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">4</button>
    {% endif %}
    {% if 'T1_5' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">5</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">5</button>
    {% endif %}

</div>

<div class="form-group">
    <label class="badge badge-dark">T2 </label>
    
    {% if 'T2_1' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">1</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">1</button>
    {% endif %}
    {% if 'T2_2' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">2</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">2</button>
    {% endif %}
    {% if 'T2_3' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">3</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">3</button>
    {% endif %}
    {% if 'T2_4' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">4</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">4</button>
    {% endif %}
    {% if 'T2_5' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">5</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">5</button>
    {% endif %}

</div>

<div class="form-group">
    <label class="badge badge-dark">T3 </label>
    
    {% if 'T3_1' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">1</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">1</button>
    {% endif %}
    {% if 'T3_2' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">2</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">2</button>
    {% endif %}
    {% if 'T3_3' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">3</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">3</button>
    {% endif %}
    {% if 'T3_4' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">4</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">4</button>
    {% endif %}


</div>

<div class="form-group">
    <label class="badge badge-dark invisible">T3 </label>
    
    {% if 'T3_5' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">5</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">5</button>
    {% endif %}
    {% if 'T3_6' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">6</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">7</button>
    {% endif %}
    {% if 'T3_7' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">7</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">7</button>
    {% endif %}
    {% if 'T3_8' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">8</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">8</button>
    {% endif %}

</div>

<div class="form-group">
    <label class="badge badge-dark">T5 </label>
    
    {% if 'T5_1' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">1</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">1</button>
    {% endif %}
    {% if 'T5_2' in build.transcend_perks %}
        <button type="button" class="btn btn-dark">2</button>
    {% else %}
        <button type="button" class="btn btn-outline-dark">2</button>
    {% endif %}

</div>