{% if builds.has_other_pages %}
      
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if builds.has_previous %}
        <li class="page-item">
            <a href="?page={{builds.previous_page_number}}" class="page-link">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">&laquo;</a>
        </li>
        {% endif %}
        {%  for i in builds.paginator.page_range %}
        {% if builds.number == i %}
            <li class="page-item active">
                <a class="page-link">{{i}}</a>
            </li>
        {% else %}
            <li class="page-item">
                <a href="?page={{i}}" class="page-link">{{i}}</a>
            </li>
        {% endif %}
        {% endfor %}
        {% if builds.has_next %}
        <li class="page-item">
            <a href="?page={{builds.next_page_number}}" class="page-link">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">&raquo;</a>
        </li>
        {% endif %}
        </ul>
    </nav>

{% endif %}