{% extends 'base.html' %} 

{% block content %}


<div class="container ">
      
   <div class="row">
         
   </div>

   {% include 'builds/builds.html' %}


   {% include '_pagination.html' %}


    
</div>




{% endblock %}