<div class="messages_outer_div">
  {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" id=message_alert>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
  {% endfor %}
</div>
