{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row justify-content-center ">
  <div class="col-sm-6">
      <h1>{% trans "Sign Up" %}</h1>
    
      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
      
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" onchange="document.getElementById('submit_btn').disabled = !this.checked;">
          <label class="form-check-label" for="exampleCheck1">By checking this box, you agree to our <a href="{% url 'terms_of_service' %}" target="_blank">Terms of Service</a> and that you have read our <a href="{% url 'privacy_policy' %}" target="_blank">Privacy Policy</a>.</label>
        </div>

        <button id="submit_btn" class="btn btn-primary" type="submit" disabled>{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
</div>



{% endblock %}
