{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. It may take a few minutes up to a few hours depending on your e-mail service provider.{% endblocktrans %}</p>

    <p>{% blocktrans %}If you did not receive an activation e-mail, log in to the site using the credentials that you used during registration and another activation e-mail will be sent.{% endblocktrans %}</p>
{% endblock %}
