{% for main_tags,sub_tags in content_tags_choices.items %}


    <div class="form-group m-0">
        <label class="badge badge-light m-0">{{ main_tags }}: </label>   
        {% for key,value in sub_tags.items  %}
            <div class="form-check form-check-inline">
                <label class="btn p-0 m-0">
                    <input type="checkbox" value="{{ key }}" autocomplete="off" name="content_tags" {% if key in build.content_tags %} checked {% endif %} /> {{ value }}
                </label>
            </div>
       
        
        {% endfor %}
    </div>
{% endfor %}