<div class="row">
    <div class="col">
        <select class="form-control" name="enchant1" > 
            {% for key,value in enchants_choices.items %}
                <option value="{{ key }}" {% if key == build.enchant1 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>

        <select class="form-control" name="enchant2" >
            {% for key,value in enchants_choices.items %}
                <option value="{{ key }}" {% if key == build.enchant2 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="col">
        <select class="form-control" name="enchant3" >
            {% for key,value in enchants_choices.items %}
                <option value="{{ key }}" {% if key == build.enchant3 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    
    <select class="form-control" name="enchant4" >
        {% for key,value in enchants_choices.items %}
            <option value="{{ key }}" {% if key == build.enchant4 %} selected {% endif %} >{{ value }}</option>
        {% endfor %}
    
    </select>
        </div>
        
        
    
    </div>
    
    
    
    
    