<!-- Parsley Error Div -->
<div id="gear_options_total_errors"></div> 

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right"># </label>
    </div>

    <div class="col-3">
        <select class="form-control select_4x" name="gear_options_num1" data-parsley-errors-container="#gear_options_total_errors" data-parsley-sumof16="">
            <option value=""></option>
            {% for key,value in gear_options_num_choices.items %}
                <option value="{{ key }}" {% if key == build.gear_options_num1 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="gear_options_stats1" >
            {% for key,value in dropdown_stats_choices.items %}
                <option value="{{ key }}" {% if key == build.gear_options_stats1 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
        <select class="form-control select_4x" name="gear_options_num2">
            <option value=""></option>
            {% for key,value in gear_options_num_choices.items %}
                <option value="{{ key }}" {% if key == build.gear_options_num2 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="gear_options_stats2" >
            {% for key,value in dropdown_stats_choices.items %}
                <option value="{{ key }}" {% if key == build.gear_options_stats2 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
        <select class="form-control select_4x" name="gear_options_num3">
            <option value=""></option>
            {% for key,value in gear_options_num_choices.items %}
                <option value="{{ key }}" {% if key == build.gear_options_num3 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="gear_options_stats3" >
            {% for key,value in dropdown_stats_choices.items %}
                <option value="{{ key }}" {% if key == build.gear_options_stats3 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
        <select class="form-control select_4x" name="gear_options_num4">
            <option value=""></option>
            {% for key,value in gear_options_num_choices.items %}
                <option value="{{ key }}" {% if key == build.gear_options_num4 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="gear_options_stats4" >
            {% for key,value in dropdown_stats_choices.items %}
                <option value="{{ key }}" {% if key == build.gear_options_stats4 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
        <select class="form-control select_4x" name="gear_options_num5" id="gear_options_num5" data-parsley-trigger="change" >
            <option value=""></option>
            {% for key,value in gear_options_num_choices.items %}
                <option value="{{ key }}" {% if key == build.gear_options_num5 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="gear_options_stats5" id="gear_options_stats5" data-parsley-trigger="change">
            <option value=""></option>
            {% for key,value in dropdown_stats_choices.items %}
                <option value="{{ key }}" {% if key == build.gear_options_stats5 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
        <select class="form-control select_4x" name="gear_options_num6" id="gear_options_num6" data-parsley-trigger="change">
            <option value=""></option>
            {% for key,value in gear_options_num_choices.items %}
                <option value="{{ key }}" {% if key == build.gear_options_num6 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="gear_options_stats6" id="gear_options_stats6" data-parsley-trigger="change">
            <option value=""></option>
            {% for key,value in dropdown_stats_choices.items %}
                <option value="{{ key }}" {% if key == build.gear_options_stats6 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
        <select class="form-control select_4x" name="gear_options_num7" id="gear_options_num7" data-parsley-trigger="change">
            <option value=""></option>
            {% for key,value in gear_options_num_choices.items %}
                <option value="{{ key }}" {% if key == build.gear_options_num7 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="gear_options_stats7" id="gear_options_stats7" data-parsley-trigger="change">
            <option value=""></option>
            {% for key,value in dropdown_stats_choices.items %}
                <option value="{{ key }}" {% if key == build.gear_options_stats7 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
        <select class="form-control select_4x" name="gear_options_num8" id="gear_options_num8" data-parsley-trigger="change">
            <option value=""></option>
            {% for key,value in gear_options_num_choices.items %}
                <option value="{{ key }}" {% if key == build.gear_options_num8 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="gear_options_stats8" id="gear_options_stats8" data-parsley-trigger="change">
            <option value=""></option>
            {% for key,value in dropdown_stats_choices.items %}
                <option value="{{ key }}" {% if key == build.gear_options_stats8 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
</div>