<div class="form-row">
    
    <div class="ml-2">
        <label class="badge badge-dark float-right"># </label>
    </div>
    <div class="col-3">
        <div class="form-group mb-1">
            <select class="form-control" name="gearset_quantity1" >
                {% for key,value in gearset_quantity_choices.items %}
                    <option value="{{ key }}" {% if key == build.gearset_quantity1 %} selected {% endif %} >{{ value }}</option>
                {% endfor %}
            </select>

        </div>
    </div>
    <div class="col">
        <select class="form-control" name="gearset_type1" >
            {% for key,value in gearset_type_choices.items %}
                <option value="{{ key }}" {% if key == build.gearset_type1 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>
    <div class="col-3">
        <div class="form-group ">
            <select class="form-control" name="gearset_quantity2">
                {% for key,value in gearset_quantity_choices.items %}
                    <option value="{{ key }}" {% if key == build.gearset_quantity2 %} selected {% endif %} >{{ value }}</option>
                {% endfor %}

            </select>
        </div>
    </div>
    <div class="col">
        <select class="form-control" name="gearset_type2">
            {% for key,value in gearset_type_choices.items %}
                <option value="{{ key }}" {% if key == build.gearset_type2 %} selected {% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
</div>
