
<label class="badge badge-dark ">Transcend Perks: </label>
<div class="form-group">
  <div class="btn-group-toggle" data-toggle="buttons">
    <label class="badge badge-dark">T1 </label>
    <label class="btn btn-outline-dark {% if 'T1_1' in build.transcend_perks %} active {% endif %}">
      <input type="checkbox" value="T1_1" autocomplete="off" name="transcend_perks" {% if 'T1_1' in build.transcend_perks %} checked {% endif %}/>1
    </label>
    <label class="btn btn-outline-dark {% if 'T1_2' in build.transcend_perks %} active {% endif %}">
      <input type="checkbox" value="T1_2" autocomplete="off" name="transcend_perks" {% if 'T1_2' in build.transcend_perks %} checked {% endif %}/>2
    </label>
    <label class="btn btn-outline-dark {% if 'T1_3' in build.transcend_perks %} active {% endif %}">
      <input type="checkbox" value="T1_3" autocomplete="off" name="transcend_perks" {% if 'T1_3' in build.transcend_perks %} checked {% endif %}/>3
    </label>
    <label class="btn btn-outline-dark {% if 'T1_4' in build.transcend_perks %} active {% endif %}">
      <input type="checkbox" value="T1_4" autocomplete="off" name="transcend_perks" {% if 'T1_4' in build.transcend_perks %} checked {% endif %}/>4
    </label>
    <label class="btn btn-outline-dark {% if 'T1_5' in build.transcend_perks %} active {% endif %}">
      <input type="checkbox" value="T1_5" autocomplete="off" name="transcend_perks" {% if 'T1_5' in build.transcend_perks %} checked {% endif %}/>5
    </label>
  </div>
</div>

<div class="form-group">
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="badge badge-dark">T2 </label>
        <label class="btn btn-outline-dark {% if 'T2_1' in build.transcend_perks %} active {% endif %}">
          <input type="checkbox" value="T2_1" autocomplete="off" name="transcend_perks" {% if 'T2_1' in build.transcend_perks %} checked {% endif %}/>1
        </label>
        <label class="btn btn-outline-dark {% if 'T2_2' in build.transcend_perks %} active {% endif %}">
          <input type="checkbox" value="T2_2" autocomplete="off" name="transcend_perks" {% if 'T2_2' in build.transcend_perks %} checked {% endif %}/>2
        </label>
        <label class="btn btn-outline-dark {% if 'T2_3' in build.transcend_perks %} active {% endif %}">
          <input type="checkbox" value="T2_3" autocomplete="off" name="transcend_perks" {% if 'T2_3' in build.transcend_perks %} checked {% endif %}/>3
        </label>
        <label class="btn btn-outline-dark {% if 'T2_4' in build.transcend_perks %} active {% endif %}">
          <input type="checkbox" value="T2_4" autocomplete="off" name="transcend_perks" {% if 'T2_4' in build.transcend_perks %} checked {% endif %}/>4
        </label>
        <label class="btn btn-outline-dark {% if 'T2_5' in build.transcend_perks %} active {% endif %}">
          <input type="checkbox" value="T2_5" autocomplete="off" name="transcend_perks" {% if 'T2_5' in build.transcend_perks %} checked {% endif %}/>5
        </label>
    </div>
</div>

<div class="form-group">
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="badge badge-dark">T3 </label>
        <label class="btn btn-outline-dark {% if 'T3_1' in build.transcend_perks %} active {% endif %}">
        <input type="checkbox" value="T3_1" autocomplete="off" name="transcend_perks" {% if 'T3_1' in build.transcend_perks %} checked {% endif %}/>1
        </label>
        <label class="btn btn-outline-dark {% if 'T3_2' in build.transcend_perks %} active {% endif %}">
        <input type="checkbox" value="T3_2" autocomplete="off" name="transcend_perks" {% if 'T3_2' in build.transcend_perks %} checked {% endif %}/>2
        </label>
        <label class="btn btn-outline-dark {% if 'T3_3' in build.transcend_perks %} active {% endif %}">
        <input type="checkbox" value="T3_3" autocomplete="off" name="transcend_perks" {% if 'T3_3' in build.transcend_perks %} checked {% endif %}/>3
        </label>
        <label class="btn btn-outline-dark {% if 'T3_4' in build.transcend_perks %} active {% endif %}">
        <input type="checkbox" value="T3_4" autocomplete="off" name="transcend_perks" {% if 'T3_4' in build.transcend_perks %} checked {% endif %}/>4
        </label>
    </div>

    <div class="btn-group-toggle pt-1" data-toggle="buttons">
        <label class="badge badge-dark invisible">T3 </label>
        <label class="btn btn-outline-dark {% if 'T3_5' in build.transcend_perks %} active {% endif %}">
        <input type="checkbox" value="T3_5" autocomplete="off" name="transcend_perks" {% if 'T3_5' in build.transcend_perks %} checked {% endif %}/>5
        </label>
        <label class="btn btn-outline-dark {% if 'T3_6' in build.transcend_perks %} active {% endif %}">
        <input type="checkbox" value="T3_6" autocomplete="off" name="transcend_perks" {% if 'T3_6' in build.transcend_perks %} checked {% endif %}/>6
        </label>
        <label class="btn btn-outline-dark {% if 'T3_7' in build.transcend_perks %} active {% endif %}">
        <input type="checkbox" value="T3_7" autocomplete="off" name="transcend_perks" {% if 'T3_7' in build.transcend_perks %} checked {% endif %}/>7
        </label>
        <label class="btn btn-outline-dark {% if 'T3_8' in build.transcend_perks %} active {% endif %}">
        <input type="checkbox" value="T3_8" autocomplete="off" name="transcend_perks" {% if 'T3_8' in build.transcend_perks %} checked {% endif %}/>8
        </label>
    </div>
</div>

<div class="form-group">
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="badge badge-dark">T5 </label>
        <label class="btn btn-outline-dark {% if 'T5_1' in build.transcend_perks %} active {% endif %}">
        <input type="checkbox" value="T5_1" autocomplete="off" name="transcend_perks" {% if 'T5_1' in build.transcend_perks %} checked {% endif %}/>1
        </label>
        <label class="btn btn-outline-dark {% if 'T5_2' in build.transcend_perks %} active {% endif %}">
        <input type="checkbox" value="T5_2" autocomplete="off" name="transcend_perks" {% if 'T5_2' in build.transcend_perks %} checked {% endif %}/>2
        </label>
    </div>
</div>
