.imgSize40 {
    width: 40px;
}
.imgSize50 {
    width: 50px;
}

.imgSize100 {
    width: 100px;
    height: 100px;
}

.checked_hidden {
    display: none;
}

.checked_hidden + label {
    opacity: 0.5;
}

.checked_hidden:checked + label {
     opacity: 1;
}

.hero_selector + img {
    cursor: pointer;
}

.hero_selector_img {
    /* opacity: 0.5; */
    width: 50px;
    height: 50px;
}

.home-title {
    font-size: 20px;
   
}

.home-content-tags {
    margin-bottom: 0px !important;
}

.home-class-image {
    
    width: 100%;
    object-fit: cover;
    
}

.col_custom {
    margin-bottom: 0px !important;
}

.title-author {
    margin-left: 10px;
}

.parent-vote-div {
    position: relative;
    line-height: 1.15;
    
}

.child-vote-div {
    position: relative;
    top: 0px;
}

.child2-vote-div {
    position: relative;
    
}

.child3-vote-div {
    position: relative;
    
}

.bg_fill {
    background: url('/static/img/kr_bg.jpg');
    background-attachment: fixed;
    background-size: cover;
}



.card_custom {
    background: rgba(255,255,255,0.85) !important;
    /* background: rgba(72,43,69,0.85) !important; */
    /* background: rgba(143,29,72,0.85) !important; */
    /* background: rgba(88,17,47,0.85) !important; */
}

.arrow_custom_color { 
    color: #34393F;
}
.arrow_custom_color2 { 
    color: red;
}

h1 {
    font-weight: 300;
}

.home-icon {
    width: 55px;
    height: 55px;
}

.top10-col {
    width: 100px;
}

.position_icon {
    
    width: 55px;
    height: 55px;
    
    
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

#message_alert {
    position:fixed; 
    bottom: 0px; 
    right: 20px; 
    width: 300px;
    
    z-index:9999; 
    
}

.footer_custom {
    background: rgba(52,58,64,0.85) !important;
    
}

.hide {
    display: none;
}

.fixed_col {
    flex: 0 0 50px;
}

.pagination>li.active>a {
    background-color: #23272b !important;
    color: white !important;
}   

.pagination>li>a.page-link {
    color: #23272b;
    border: solid 1px #808080 !Important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: white;
    background-color: #23272b;
    border-color: #23272b;
}

.pagination > li > a
{
    background-color: white;
    
}

.footer_copyright {
    font-size: 12px;
}

.sort_btn_custom {
    background-color: #343a40;
    color: white;
}

.gold {
    color: gold;
    font-size: 2.5em;
}

.silver{
    color: silver;
    font-size: 2.0em;
}

.bronze {
    color: #cd7f32;
    font-size: 1.5em;
}

.mini-icon {
    width:25px;
    height:25px;
}

.hidden {
    display: none;
}

.marker {
background-color: yellow;
font-weight: bold;
}

.overflow_hidden {
    overflow: hidden;
    
}

.hidden_ad_bg_right {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    width: 100%;
    height: 768px;
    overflow: hidden;
    visibility: hidden;
}

.ad_bg_right {
    position: absolute;
    top: 80px;
    left: 50%;
    /* margin-left: 600px; */
    margin-right: 0px;
    /* visibility: visible; */
}

.hidden_ad_bg_left {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 768px;
    overflow: hidden;
    visibility: hidden;
}

.ad_bg_left {
    position: absolute;
    top: 80px;
    left: 0%;
    /* margin-right: 600px; */
    margin-left: 0px;
    /* visibility: visible; */
}
