<option>Black Dragon (MP Recovery/Attack)</option>
<option>Frost Dragon (Max HP)</option>
<option>Fire Dragon (Crit)</option>
<option>Poison Dragon (Crit Resistance)</option>
<option>Lava (Crit Damage)</option>
<option>Legendary Eternal Flame (Debuff ACC)</option>
<option>Hero Suppression (Increases DMG to Heroes)</option>
<option>Hero Protection (Reduces DMG received from Heroes)</option>
<option>Dark Legion (Increases Crit DMG of all allies)</option>
<option>Beast of Chaos (Hero deals x% more DMG and takes x% less DMG from bosses)</option>