<option disabled>Velkazar Rune</option>
<option>ATK & Penetration</option>
<option>ATK & Crit</option>
<option>ATK & Crit DMG</option>
<option>ATK & ACC</option>
<option>ATK & Tough</option>
<option>ATK & DEF</option>
<option>ATK & Dodge</option>
<option>ATK & Block</option>
<option>ATK & MP Recovery/Attack</option>
<option>ATK & MAX HP</option>
<option>Crit & Penetration</option>
<option>Crit DMG & Penetration</option>
<option>Penetration & ACC</option>
<option>Penetration & Tough</option>
<option>DEF & Penetration</option>
<option>Penetration & Dodge</option>
<option>Penetration & Block</option>
<option>Penetration & MP Recovery/Attack</option>
<option>MAX HP & Penetration</option>
<option>Crit & Crit DMG</option>
<option>Crit & ACC</option>
<option>Crit & Tough</option>
<option>DEF & Crit</option>
<option>Crit & Dodge</option>
<option>Crit & Block</option>
<option>Crit & MP Recovery/Attack</option>
<option>MAX HP & Crit</option>
<option>Crit DMG & ACC</option>
<option>Crit DMG & Tough</option>
<option>DEF & Crit DMG</option>
<option>Crit DMG & Dodge</option>
<option>Crit DMG & Block</option>
<option>Crit DMG & MP Recovery/Attack</option>
<option>MAX HP & Crit DMG</option>
<option>ACC & Tough</option>
<option>DEF & ACC</option>
<option>ACC & Dodge</option>
<option>ACC & Block</option>
<option>ACC & MP Recovery/Attack</option>
<option>MAX HP & ACC</option>
<option>DEF & Tough</option>
<option>Dodge & Tough</option>
<option>Block & Tough</option>
<option>Tough & MP Recovery/Attack</option>
<option>MAX HP & Tough</option>
<option>DEF & Dodge</option>
<option>DEF & Block</option>
<option>DEF & MP Recovery/Attack</option>
<option>DEF & MAX HP</option>
<option>Dodge & Block</option>
<option>Dodge & MP Recovery/Attack</option>
<option>MAX HP & Dodge</option>
<option>Block & MP Recovery/Attack</option>
<option>MAX HP & Block</option>
<option>MAX HP & MP Recovery/Attack</option>