{% load static %}
{% load vote %}

{% for build in builds %}
<div class="row mb-2 ">
    <div class="col-md-7 col-sm-12 col-xl-7 col-lg-7 col-12 p-0">
        <div class="row mx-0">
            {% vote_exists build request.user 0 as vote_up %}
            {% vote_exists build request.user 1 as vote_down %}

            <!-- Vote Buttons & Karma Div -->
            <div class="parent-vote-div col-1 px-1">
                <div class="child-vote-div text-center">
                    <!-- <a href="#" onClick="document.getElementById('upvote{{ build.id }}').submit()"><span class="fas fa-chevron-up arrow_custom_color" aria-hidden="true"></span></a>   -->
                    <a href="#" onClick="document.getElementById('upvote{{ build.id }}').submit()"><span class="fas fa-chevron-up  {% if vote_up %} arrow_custom_color2 {% else %} arrow_custom_color {% endif %}" aria-hidden="true" ></span></a>  
                </div>
                <div class="child2-vote-div text-center text-dark">
                    
                    {{ build.vote_score }} 
                            
                </div>
                <div class="child3-vote-div text-center">
                    <a href="#" onClick="document.getElementById('downvote{{ build.id }}').submit()"><span class="fas fa-chevron-down {% if vote_down %} arrow_custom_color2 {% else %} arrow_custom_color {% endif %}" aria-hidden="true"></span></a>
                </div>
            </div>
            
            
            
            <form id="upvote{{ build.id }}" method="POST" action="{% url 'builds:upvote' build.id %}">
                {% csrf_token %}
                <input type="hidden" />
            </form>
            
            <form id="downvote{{ build.id }}" method="POST" action="{% url 'builds:downvote' build.id %}">
                {% csrf_token %}
                <input type="hidden" />
            </form>
            
            <!-- Hero Icon Div -->
            <div class="px-1 ">
                {% with 'https://ik.imagekit.io/0h736tphh/krbuilds/hero/tr:n-55/'|add:build.hero.hero_name|add:'.png' as hero_img %}
                    <img class="rounded" src="{{ hero_img }}" alt=""> 
                {% endwith %}                  
            </div>

            <!-- Title Author Date Div -->
            <div class="col-8 col-xl-9 col-lg-9 col-md-9 col-sm-9 ">
                <div class="title-author m-0">

                    <a class="home-title text-dark d-block text-truncate " href="{% url 'builds:view_build' build.id %}">{{ build.title }}</a>              

                    <h6 class="text-muted">submitted by: {{ build.user }}, last updated: {{ build.updated_at|date:"m-d-Y"  }}</h6> 
                        
                </div>
                
            </div>


        </div>
    </div>



    <div class="col-md-5 col-xl-5 col-lg-5">
        <div class="row">
            
            <!-- Position -->
            <div class="col p-1">
                <div class="position_icon bg-dark d-flex rounded">
                    {% if build.hero.position == 'Front' %}
                        <span class="border bg-light d-block text-center vertical-center  w-100 "><strong>Front</strong></span>
                    {% elif build.hero.position == 'Middle' %}
                        <span class="border bg-light d-block text-center vertical-center  w-100 "><strong>Mid</strong></span>
                    {% elif build.hero.position == 'Back' %}
                        <span class="border bg-light d-block text-center vertical-center  w-100 "><strong>Back</strong></span>
                    {% endif %}
                </div>
            </div>

            <div class="col p-1">
                
                <!-- Class Icon -->
                {% if build.hero.hero_class == 'Knight' %}
                    <img class="home-icon" src="{% static 'img/knight.png' %}" alt=""> 
                {% elif build.hero.hero_class == 'Wizard' %}
                    <img class="home-icon" src="{% static 'img/wizard.png' %}" alt=""> 
                {% elif build.hero.hero_class == 'Warrior' %}
                    <img class="home-icon" src="{% static 'img/warrior.png' %}" alt=""> 
                {% elif build.hero.hero_class == 'Assassin' %}
                    <img class="home-icon" src="{% static 'img/assassin.png' %}" alt=""> 
                {% elif build.hero.hero_class == 'Archer' %}
                    <img class="home-icon" src="{% static 'img/archer.png' %}" alt=""> 
                {% elif build.hero.hero_class == 'Mechanic' %}
                    <img class="home-icon" src="{% static 'img/mechanic.png' %}" alt=""> 
                {% elif build.hero.hero_class == 'Priest' %}
                    <img class="home-icon" src="{% static 'img/priest.png' %}" alt=""> 
                {% endif %}
                        
                    
                
            </div>

        
            <div class="col p-1">
                
                <!-- UT Icon -->
                {% with 'https://ik.imagekit.io/0h736tphh/krbuilds/tr:n-55/'|add:build.hero.hero_name|add:'_'|add:build.unique_treasure_skill_num|add:'.png' as hero_ut %}
                    <img class="home-icon rounded" src="{{ hero_ut }}" alt=""> 
                {% endwith %}
                
            </div>

            <!-- Accessory Type -->
            <div class="col p-1">
            {% if 'Ring' in build.accessory_type %}
                <img class="home-icon" src="{% static 'img/ring.jpg' %}" alt="">
            {% elif 'Earrings' in build.accessory_type %}
                <img class="home-icon" src="{% static 'img/earrings.jpg' %}" alt="">
            {% elif 'Bracelet' in build.accessory_type %}
                <img class="home-icon" src="{% static 'img/bracelet.jpg' %}" alt="">
            {% elif 'Necklace' in build.accessory_type %}
                <img class="home-icon" src="{% static 'img/necklace.jpg' %}" alt="">
            {% endif %}
                
            </div>

            <!-- ATK Type Icon -->
            <div class="col p-1">
                    
                {% if build.hero.atk_type == 'Physical' %}
                    <img class="home-icon" src="{% static 'img/physical.png' %}" alt=""> 
                {% elif build.hero.atk_type == 'Magic' %}
                    <img class="home-icon" src="{% static 'img/magic.png' %}" alt=""> 
                {% endif %}    
                
            </div>

        

        </div>
    </div>
    
   

    
</div>
{% endfor %}