{% extends 'base.html' %} 
{% load static %}

{% block content %}

<div class="container show_velk">
  <form action="{%url 'builds:create_build' hero %}" method="POST" id="create_build_form" >
    {% csrf_token %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col">
            {% with 'https://ik.imagekit.io/0h736tphh/krbuilds/hero/tr:n-50/'|add:hero.hero_name|add:'.png' as hero_img %}
                <img class="rounded" src="{{ hero_img }}" alt=""> 
            {% endwith %}
            
        </div>
        <div class="col text-center">
            <h1 class="font-weight-light justify-content-center">Create Build</h1>
        </div>
        <div class="col text-right">
            <h4 class="text-muted">{{ hero.hero_name }}</h4>
        </div>
    </div>
    
    <div class="row">
        <div class="">
            
        </div>
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="Title" data-parsley-trigger="focusout" required data-parsley-maxlength="140" data-parsley-minlength="5">
            </div>
        </div>
        
    </div>
 
    
    <p></p>

    <!-- BEGIN -->

    <div class="row">
        <div class="col">
            <div class="d-flex"> <label class="badge badge-dark mr-3">Content Tags:* </label><div id="content-tag-errors"></div> </div>

            {% include './create_build/content_tags.html' %}
        </div>
    </div>
    
    <p></p>

    <div class="row">
        <div class="col">
            <label class="badge badge-dark ">Gear Set:* </label>
            <div class="row">
                <div class="col">
                    {% include './create_build/gearsets.html' %}
                </div>
                    
                
            </div>

            <div class="row">
                <div class="col">
                    <label class="badge badge-dark ">Gear Options:* </label>
                    {% include './create_build/gear_options.html' %}
                    
                </div>
                
            </div>


        </div>
        <div class="col">

            <div class="row">
                <div class="col">
                    {% include './create_build/runes.html' %}
                </div>
                
            </div>

            

            <div class="row mt-2">
                <div class="col">
                    <label class="badge badge-dark ">Enchants:* </label>
                    {% include './create_build/enchants.html' %}
                </div>
                   
                
            </div>

            <div class="row mt-1">
                <div class="col">
                    {% include './create_build/artifacts.html' %}
                </div>
                
            </div>

            

        </div>
        <div class="col">

            {% include './create_build/transcend_perks.html' %}
            
            <div class="row">  
                <div class="col">
                    <label class="badge badge-dark ">Unique Treasure:* </label>

                    {% include './create_build/unique_treasure.html' %}    
                </div>   
                <div class="col">
                    {% include './create_build/accessory_type.html' %}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                        <label class="badge badge-dark ">UT Options:* </label>
                        {% include './create_build/ut_options.html' %}
                    </div>
                </div>
        </div>
    </div>

    <div class="row p-3">
      <label class="badge badge-dark">Summary:</label>
      <textarea class="form-control" name="summary" rows="3" placeholder="Optional"></textarea>
    </div>

    <button type="submit" class="btn btn-dark mb-2" name="submit_build">
      Submit
    </button>
  </form>

</div>

{% endblock %}
