{% extends 'base.html' %} 
{% load static %}

{% block content %}

<div class="container show_velk" >


  <form action="{%url 'builds:edit_build' build.id %}" method="POST" id="create_build_form"  >
    {% csrf_token %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}


    <div class="row">
        <div class="col">
            {% with 'https://ik.imagekit.io/0h736tphh/krbuilds/hero/tr:n-50/'|add:build.hero.hero_name|add:'.png' as hero_img %}
                <img class="rounded" src="{{ hero_img }}" alt=""> 
            {% endwith %}
            
        </div>
        <div class="col text-center">
            <h1 class="font-weight-light justify-content-center">Edit Build</h1>
        </div>
        <div class="col text-right">
            <h4 class="text-muted">{{ build.hero.hero_name }}</h4>
        </div>
    </div>
    
    <div class="form-group">
        <input type="text" class="form-control" name="title" placeholder="Title" value="{{ build.title }}" data-parsley-trigger="focusout" required data-parsley-maxlength="140" data-parsley-minlength="5">
    </div>


    <p></p>

    <!-- BEGIN -->

    <!-- Content tags -->
    <div class="row">
        <div class="col">
            <div class="d-flex"> <label class="badge badge-dark mr-3">Content Tags:* </label><div id="content-tag-errors"></div> </div>
            {% include './edit_build/content_tags.html' %}
        </div>
    </div>

    <p></p>
    
    <p></p>

    <div class="row">
        <div class="col">
            <label class="badge badge-dark ">Gear Set:* </label>
            <div class="row">
                <div class="col">
                    {% include './edit_build/gearsets.html' %}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="badge badge-dark ">Gear Options:* </label>
                    {% include './edit_build/gear_options.html' %}
                </div>
            </div>

        </div>
        <div class="col">
            
            <div class="row">
                <div class="col">
                    {% include './edit_build/runes.html' %}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="badge badge-dark ">Enchants:* </label>
                    {% include './edit_build/enchants.html' %}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <label class="badge badge-dark ">Artifacts: </label>
                    <input type="text" class="form-control" name="artifact" value="{{ build.artifact }}" required data-parsley-maxlength="60">
                    
                        
                    
                    
                </div>
                
            </div>

        </div>
        <div class="col">

            {% include './edit_build/transcend_perks.html' %}
            
            <div class="row">
                <div class="col">
                    <h6><span class="badge badge-dark">Unique Treasure:* </span></h6>

                
                    <select class="form-control" name="unique_treasure_skill_num" required>
                        {% for key,value in unique_treasure_choices.items %}
                            <option value="{{ key }}" {% if key == build.unique_treasure_skill_num %} selected {% endif %} >{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label class="badge badge-dark ">Accessory Type:* </label>
                    <select class="form-control" name="accessory_type" >
                        <option value=""></option>
                        {% for acc in accessory_type_choices %}
                            <option value="{{ acc }}" {% if acc == build.accessory_type %} selected {% endif %}>{{ acc }}</option>
                        {% endfor %}
                    </select>
                </div>
                
            </div>

            <label class="badge badge-dark ">UT Options:* </label>
            <div class="form-row mt-2">
                
                <div class="ml-2">
                    <label class="badge badge-dark float-right"># </label>
                </div>
                
                <div class="col-3">
                    
                    <select class="form-control" name="unique_treasure_options_num1">
                        {% for key,value in unique_treasure_num_choices.items %}
                            <option value="{{ key }}" {% if key == build.unique_treasure_options_num1 %} selected {% endif %} >{{ value }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control" name="unique_treasure_options_num2">
                        <option value=""></option>
                        {% for key,value in unique_treasure_num_choices.items %}
                            <option value="{{ key }}" {% if key == build.unique_treasure_options_num2 %} selected {% endif %} >{{ value }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control" name="unique_treasure_options_num3">
                        <option value=""></option>
                        {% for key,value in unique_treasure_num_choices.items %}
                            <option value="{{ key }}" {% if key == build.unique_treasure_options_num3 %} selected {% endif %} >{{ value }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control" name="unique_treasure_options_num4">
                        <option value=""></option>
                        {% for key,value in unique_treasure_num_choices.items %}
                            <option value="{{ key }}" {% if key == build.unique_treasure_options_num4 %} selected {% endif %} >{{ value }}</option>
                        {% endfor %}
                    </select>
    
    
                   

                </div>

                <div class="col">

                    <select class="form-control" name="unique_treasure_option1">
                        {% for key,value in dropdown_stats_choices.items %}
                            <option value="{{ key }}" {% if key == build.unique_treasure_option1 %} selected {% endif %} >{{ value }}</option>
                        {% endfor %}
                    </select>
    
                    <select class="form-control" name="unique_treasure_option2">
                        <option value=""></option>
                        {% for key,value in dropdown_stats_choices.items %}
                            <option value="{{ key }}" {% if key == build.unique_treasure_option2 %} selected {% endif %} >{{ value }}</option>
                        {% endfor %}
                    </select>

                    <select class="form-control" name="unique_treasure_option3">
                        <option value=""></option>
                        {% for key,value in dropdown_stats_choices.items %}
                            <option value="{{ key }}" {% if key == build.unique_treasure_option3 %} selected {% endif %} >{{ value }}</option>
                        {% endfor %}
                    </select>

                    <select class="form-control" name="unique_treasure_option4">
                        <option value=""></option>
                        {% for key,value in dropdown_stats_choices.items %}
                            <option value="{{ key }}" {% if key == build.unique_treasure_option4 %} selected {% endif %} >{{ value }}</option>
                        {% endfor %}
                    </select>

                </div>
                
            </div>

            

        </div>
    </div>

    <div class="row p-3">
      <label class="badge badge-dark">Summary:</label>
      <textarea class="form-control" name="summary" rows="10">{{ build.summary }}</textarea>
    </div>

    <button type="submit" class="btn btn-dark mb-2" name="update_build">
      Update
    </button>
  </form>

</div>

{% endblock %}
