{% extends 'base.html' %} 

{% block content %}



<div class="row text-center">
        <div class="col-md-auto ml-3 ">
            {% with 'https://ik.imagekit.io/0h736tphh/krbuilds/hero/tr:n-100/'|add:build.hero.hero_name|add:'.png' as hero_icon %}
                <img class="rounded" src="{{ hero_icon }}" alt=""> 
            {% endwith %}  
        </div>
        <div class="col text-center ">
            <h1 class="font-weight-light justify-content-center">{{ build.title }}</h1>
        </div>
        <div class="col-md-auto mr-3 ">
            
            <h4 class="text-muted">{{ build.hero.hero_name }}</h4>
            {% if user == build.user %}
                <a class="btn btn-dark" href="{% url 'builds:edit_build' build.id %}">Edit</a>
            {% endif %}
        </div>
</div>

<div class="container">
    <form action="#" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        
        <div class="row ">
            
            <div class="col">

                <!-- Content tags -->
                {% for tag in tags %}
                    <p class="badge badge-light m-0">
                        
                        {{ tag }}
                        
                    </p>
                    
                {% endfor %}
    
            </div>
        </div>
    
        <!-- BEGIN -->
    
        <div class="row">
            <div class="col">  
            <label class="badge badge-dark ">Gear Set: </label>
            <input type="text" class="form-control" value="{{ build.gearset_quantity1 }}  {{ build.gearset_type1 }}" readonly>
            <input type="text" class="form-control" value="{{ build.gearset_quantity2 }}  {{ build.gearset_type2 }}" readonly>
                
            <div class="row">
                <div class="col">
                    <label class="badge badge-dark ">Gear Options: </label>
                    <input type="text" class="form-control" value="{{ build.gear_options_num1 }}  {{ build.gear_options_stats1 }}" readonly> 
                    <input type="text" class="form-control" value="{{ build.gear_options_num2 }}  {{ build.gear_options_stats2 }}" readonly>
                    <input type="text" class="form-control" value="{{ build.gear_options_num3 }}  {{ build.gear_options_stats3 }}" readonly>
                    <input type="text" class="form-control" value="{{ build.gear_options_num4 }}  {{ build.gear_options_stats4 }}" readonly>
                    <input type="text" class="form-control" value="{{ build.gear_options_num5 }}  {{ build.gear_options_stats5 }}" readonly>
                    <input type="text" class="form-control" value="{{ build.gear_options_num6 }}  {{ build.gear_options_stats6 }}" readonly>
                    <input type="text" class="form-control" value="{{ build.gear_options_num7 }}  {{ build.gear_options_stats7 }}" readonly>
                    <input type="text" class="form-control" value="{{ build.gear_options_num8 }}  {{ build.gear_options_stats8 }}" readonly>
                </div>
            </div>
    
            </div>
            <div class="col">
                
                <div class="row ">
                    <div class="col">
                        <div class="col px-0">
                            <label class="badge badge-dark ">Runes - Weapon: </label>
    
                            <div class="input-group">
                                <input type="text" class="form-control" value="{{ build.runes_weapon1 }}" readonly> 
                                <div class="input-group-append">
                                    {% if '&' in build.runes_weapon1 %}
                                        <button type="button" class="btn btn-danger">V</button>
                                    {% else %}
                                        <button type="button" class="btn btn-outline-danger">V</button>
                                    {% endif %}
                                </div>
                            </div>
    
                            <div class="input-group">
                                <input type="text" class="form-control" value="{{ build.runes_weapon2 }}" readonly> 
                                <div class="input-group-append">
                                    {% if '&' in build.runes_weapon2 %}
                                        <button type="button" class="btn btn-danger">V</button>
                                    {% else %}
                                        <button type="button" class="btn btn-outline-danger">V</button>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="input-group">
                                <input type="text" class="form-control" value="{{ build.runes_weapon3 }}" readonly> 
                                <div class="input-group-append">
                                    {% if '&' in build.runes_weapon3 %}
                                        <button type="button" class="btn btn-danger">V</button>
                                    {% else %}
                                        <button type="button" class="btn btn-outline-danger">V</button>
                                    {% endif %}
                                </div>
                            </div>
                            
                        
                            <label class="badge badge-dark">Armor: </label>
    
    
                            <div class="input-group">
                                <input type="text" class="form-control" value="{{ build.runes_armor }}" readonly> 
                                <div class="input-group-append">
                                    {% if '&' in build.runes_armor %}
                                        <button type="button" class="btn btn-danger">V</button>
                                    {% else %}
                                        <button type="button" class="btn btn-outline-danger">V</button>
                                    {% endif %}
                                </div>
                            </div>
    
                        
                            <label class="badge badge-dark">Secondary: </label>
    
                            <div class="input-group">
                                <input type="text" class="form-control" value="{{ build.runes_secondary }}" readonly> 
                                <div class="input-group-append">
                                    {% if '&' in build.runes_secondary %}
                                        <button type="button" class="btn btn-danger">V</button>
                                    {% else %}
                                        <button type="button" class="btn btn-outline-danger">V</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>

                <div class="row mt-2">
                    <div class="col">
                        <label class="badge badge-dark ">Enchants: </label>
                        <input type="text" class="form-control" value="{{ build.enchant1 }}" readonly>
                        <input type="text" class="form-control" value="{{ build.enchant2 }}" readonly>
                        <input type="text" class="form-control" value="{{ build.enchant3 }}" readonly>
                        <input type="text" class="form-control" value="{{ build.enchant4 }}" readonly>
                    </div>
                </div>

    
                <div class="form-row mt-2">
                <label class="badge badge-dark ">Artifact: </label>
                <input type="text" class="form-control" value="{{ build.artifact }}" readonly>
                </div>
    
            </div>
            <div class="col">
                {% include './view_build/transcend_perks.html' %}
                <div class="row">
                    <div class="col">
                        <h6><span class="badge badge-dark">Unique Treasure: </span></h6>
                        <input type="text" class="form-control" value="{{ build.unique_treasure_skill_num }}" readonly>
                    </div>
                    <div class="col">
                        <label class="badge badge-dark ">Accessory Type: </label>
                        <input type="text" class="form-control" value="{{ build.accessory_type }}" readonly>
                    </div>
                </div>

                <h6><span class="badge badge-dark">UT Options: </span></h6>
                <div class="row">
                    
                    <div class="col">
                        <input type="text" class="form-control" value="{{ build.unique_treasure_options_num1 }} {{ build.unique_treasure_option1 }}" readonly>
                        <input type="text" class="form-control" value="{{ build.unique_treasure_options_num2 }} {{ build.unique_treasure_option2 }}" readonly>
                        <input type="text" class="form-control" value="{{ build.unique_treasure_options_num3 }} {{ build.unique_treasure_option3 }}" readonly>
                        <input type="text" class="form-control" value="{{ build.unique_treasure_options_num4 }} {{ build.unique_treasure_option4 }}" readonly>
                    </div>
                </div>

            </div>
        </div>
    
        <div class="row p-3">
            <div class="col">
                <label class="badge badge-dark">Summary:</label>
                <!-- <textarea class="form-control" name="summary" rows="3"></textarea> -->
                <p>{{ build.summary|linebreaks }}</p>
            </div>
        

            <input class="checked_hidden" type="checkbox" id="cb_t1_1" name="trans" value="T1_1" checked/>
        
        </div>
    
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-dark mb-2" >
        Back
        </a>
    </form>
    
    </div>

{% endblock %}