{% extends 'base.html' %} 

{% block content %}

<h1 class="text-center">About</h1>

<p>
    I created this site with the purpose of enabling players of King's Raid to have a place to share their builds quickly and easily with one another.  In the past, sites were created with this intention, but the process of creating and sharing builds was very tedious and took a lot of time; thus discouraging the faciliation of build sharing.  By removing this barrier, I hope that KRBuilds will become useful to everyone so that they can have a more enjoyable time in King's Raid. 
</p>

<p>
    If you have any feedback (like features you would like to see added) about the site, you can contact me via Discord. My Discord tag is Tektonik#4942.
</p>

<p>Lastly, special thanks to Hyuroki and Calvin for their efforts and contributions. </p>

{% endblock %}