{% extends 'base.html' %} 

{% block content %}

<h1 class="text-center">FAQs</h1>

<p><strong>
  Do you have a bug, issue, feedback, or suggestion to report?  Is there a new hero that you would like to see added?
</strong></p>

<p>
  You can message me on Discord. My Discord tag is Tektonik#4942. If you ran into a bug, please attach an image or screenshot, if applicable, with a description of how to reproduce the issue.
</p>


{% endblock %}