<div class="container px-0">
        <!-- <div class="card border-0 shadow p-3 bg-dark footer_custom"> -->
        <div class="card border-0 shadow px-3 bg-dark footer_custom mb-5">
               
                <div class="row justify-content-end">
                    
                        <a class="nav-link text-white" href="{% url 'privacy_policy' %}">Privacy</a>
                        <a class="nav-link text-white" href="{% url 'terms_of_service' %}">Terms of Service</a>
                        <a class="nav-link text-white" href="{% url 'faqs' %}">FAQs</a>
                        <a class="nav-link text-white" href="{% url 'about' %}">About</a>

                        

                </div>

                <div class="row text-white text-center footer_copyright p-3">
                        <div class="col">
                                Game content and materials are trademarks and copyrights of their respective publisher and its licensors. All rights reserved. 
                        </div>
                        
                </div>
                
                
        </div>
</div>


