{% extends 'base.html' %} 

{% block content %}





<div class="container ">
<h1 class="text-center">Privacy Policy</h1>


    <strong>Website visitors </strong>
    <p>
        Like most website operators, KRBuilds collects non-personally identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Our purpose in collecting non-personally identifying information is to better understand how our visitors use our website. From time to time, we may release non-personally identifying information in the aggregate — e.g., by publishing a report on trends in the usage of the website. KRBuilds also collects potentially personally identifying information like internet protocol (IP) addresses for logged-in users and for users leaving comments on the blog. We disclose logged-in user and commenter IP addresses only under the same circumstances that we use and disclose personally identifying information as described below, except that blog commenter IP addresses and email addresses are visible and disclosed to the administrators.
    </p>

    <strong>Changes to this policy </strong>
    <p>
        KRBuilds may change this privacy policy from time to time and at KRBuilds’ sole discretion. We encourage visitors to frequently check this page as well as the privacy policies of any affiliated services for changes. Your continued use of this site after any change in this privacy policy will constitute your acceptance of such change.
    </p>

    <strong>Gathering of Personally-Identifying Information</strong>
    <p>
        Certain visitors to KRBuilds' websites choose to interact with KRBuilds in ways that require KRBuilds to gather personally-identifying information. The amount and type of information that KRBuilds gathers depends on the nature of the interaction. For example, we ask visitors who create an account at KRBuilds to provide a username and email address. In each case, KRBuilds collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor's interaction with KRBuilds. KRBuilds does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.
    </p>

    <strong>Protection of certain personally identifying information</strong>
    <p>
        KRBuilds discloses potentially personally identifying and personally identifying information only to those of its employees, contractors, and affiliated organizations that (i) need to know that information in order to process it on our behalf or to provide services available at our website, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors, and affiliated organizations may be located outside of your home country; by using KRBuilds, you consent to the transfer of such information to them. We will not rent or sell potentially personally identifying and personally identifying information to anyone. Other than to our employees, contractors, and affiliated organizations as described above, we disclose potentially personally identifying and personally identifying information only in response to a subpoena, court order, or other governmental request, or when KRBuilds believes in good faith that disclosure is necessary to protect the property or rights of our company, website, third parties, or the public at large. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. KRBuilds takes all measures reasonably necessary to protect against the unauthorized access, use, alteration, or destruction of potentially personally identifying and personally identifying information.
    </p>

    <strong>Cookies</strong>
    <p>
            A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. KRBuilds uses cookies to help us identify and track visitors, their usage of our website, and their website access preferences. KRBuilds visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using this website, knowing that certain website features may not function properly without the aid of cookies.
    </p>

    <strong>Ads </strong>
    <p>
        Ads appearing on KRBuilds may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. Our privacy policy covers the use of cookies by KRBuilds and does not cover the use of cookies by any advertisers or social media platforms such as but not limited to Facebook, Twitter, Google+, YouTube, Twitch, Steam, Reddit, and Libsyn.
    </p>

    <div>
        This privacy policy legalese was adapted from the <a href="https://automattic.com/privacy/">Automattic</a> terms of service under its <a href="https://creativecommons.org/licenses/by-sa/4.0/">creative commons sharealike license</a>.
    </div>

    
</div>




{% endblock %}