{% extends 'base.html' %} 

{% block content %}





<div class="container ">
<h1 class="text-center">Terms of Service</h1>

    <p>
        The following terms and conditions govern all use of the KRBuilds website and all content, services, and products available at or through this website. The website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, our privacy policy) and procedures that may be published from time to time on this site (collectively, the “agreement”).
    </p>

    <strong>Age representation</strong>
    <p>
        KRBuilds is not directed to children younger than 13, and service on the website is offered only to users 13 years of age or older. Any person who registers as a user or provides personal information to this website represents that he or she is 13 years of age or older.
    </p>

    <strong>Responsibility of contributors</strong>
    <p>
        Contributors are responsible for maintaining the security of their writing and are fully responsible for all activities that occur under their accounts and any actions taken in connection with them. Users acknowledge that they assume all risks associated with posting any personal information online. Contributors are entirely responsible for the content of and any harm resulting from that content, regardless of what form the content takes, including but not limited to text, photo, video, audio, or code. By making content available on the site and/or in the comments, you represent and warrant that your content does not violate these terms. By submitting comment content to KRBuilds, you grant KRBuilds, a world-wide, royalty-free, non-exclusive license to reproduce, modify, adapt, and publish that content and make it available to third parties for the purposes of analyzing and distributing (but not publicly displaying) the content through their services. You acknowledge that KRBuilds has the right (though not the obligation) at its sole discretion to refuse or remove any content that violates any KRBuilds policy or is in any way harmful or objectionable; the company may further terminate or deny access to and use of the website to any individual or entity for any reason at its sole discretion.
    </p>

    <strong>Responsibility of visitors</strong>
    <p>
        By operating KRBuilds does not represent or imply that it endorses the material posted in the site or that it believes such material to be accurate, useful, or non-harmful. By linking to an external website or webpage, we do not represent or imply that we endorse such website or webpage. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, and other harmful or destructive content. This website may contain content that is offensive, indecent, or otherwise objectionable; it may contain content containing technical inaccuracies, typographical mistakes, and other errors. KRBuilds disclaims any responsibility for any harm resulting from the use by visitors of this website or from any downloading by those who access any content here posted.
    </p>

    <strong>Copyright infringement</strong>
    <p>
        If you believe that material located on KRBuilds violates your copyright, you are encouraged to notify KRBuilds in accordance with the DMCA. We will respond to all such notices as required or appropriate by removing the infringing material or disabling all links to the infringing material. We will terminate a visitor’s access to and use of this website if the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights. 
    </p>

    <strong>Disclaimer of warranties</strong>
    <p>
        This website is provided “as is.” KRBuilds and its affiliates hereby disclaim all warranties of any kind, express or implied, including without limitation the warranties of merchantability, fitness for a particular purpose, and non-infringement. Neither KRBuilds nor its affiliates makes any warranty that the website will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from or otherwise obtain content or services through this website at your own discretion and risk.
    </p>

    <strong>Limitation of liability</strong>
    <p>
        In no event will KRBuilds or its affiliates be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability, or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data. The foregoing shall not apply to the extent prohibited by applicable law.
    </p>

    <strong>General representation and warranty</strong>
    <p>
        You represent and warrant that (i) your use of this website will be in strict accordance with the <a href="{% url 'privacy_policy' %}">privacy policy</a>, with this agreement, and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of the website will not infringe or misappropriate the intellectual property rights of any third party.
    </p>

    <strong>Indemnification</strong>
    <p>
        You agree to indemnify and hold harmless KRBuilds, its contractors, and its licensors, as well as their respective directors, officers, employees and agents, from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of this website, including but not limited to your violation of this agreement.
    </p>

    <p>
        This agreement constitutes the entire agreement between KRBuilds and you concerning the subject matter hereof, and it may be modified only as posted here by a representative of KRBuilds. Any access to or use of this website will be governed by the laws of the state of Georgia. This agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.
    </p>


    <div>
        This terms-of-service legalese was adapted from the <a href="https://en.wordpress.com/tos/">Automattic</a> terms of service under its <a href="https://creativecommons.org/licenses/by-sa/4.0/">creative commons sharealike license</a>.
    </div>

    
</div>




{% endblock %}