<label class="badge badge-dark ">Accessory Type:* </label>
    <select class="form-control" name="accessory_type" required>
        <option value=""></option>
        {% for acc in accessory_type_choices %}
            <option value="{{ acc }}">{{ acc }}</option>
        {% endfor %}
    </select>