<p>Please select a category to see more options.</p>

<!-- Alert message -->
<div class="alert alert-warning alert-dismissible hide fade show p-1" id="content_tags_alert" role="alert" >
    <button type="button" id="content_alert_close" class="close py-0 px-2" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    Please select between 1 and 20 content categories.
</div>


{% for main_tag in main_content %}

    <input type="button" class="btn btn-secondary btn-sm my-1" data-toggle="collapse" data-target="#collapse_{{forloop.counter}}" value="{{ main_tag.main_content }}" />

{% endfor %}

<div id="collapse_content_parent">
    {% for main_tag in main_content %}   
    
        <div class="collapse div_{{main_tag.main_content}}" id="collapse_{{forloop.counter}}" data-parent="#collapse_content_parent">
            <div class="card card-body">
                <u> {{ main_tag.main_content }}</u> 
                    
                <label>
                    <input class="select_all_box" type="checkbox" name="select_all_box" /> Select/Unselect all
                </label>
                {% for sub_tag in sub_content %}
                {% if sub_tag.main_content == main_tag.main_content  %}
                    <div class="">
                        <label class="btn p-0 m-0">
                            <input type="checkbox" value="{{ sub_tag.sub_content }}" autocomplete="off" name="content_tags" id="content_tags" data-parsley-check='[1,20]' required data-parsley-errors-container="#content-tag-errors" data-parsley-required-message="Please select at least 1 tag."> {{ sub_tag.sub_content }}
                        </label>
                    </div>
                
                {% endif %}
                {% endfor %}
            </div>
        </div>

    {% endfor %}
</div>
