<!-- <option default></option>
<option>ACC</option>
<option>ATK</option>
<option>ATK SPD</option>
<option>Block</option>
<option>CC ACC</option>
<option>CC Resist</option>
<option>Crit</option>
<option>Crit DMG</option>
<option>Crit Resistance</option>
<option>Debuff ACC</option>
<option>DEF</option>
<option>Dodge</option>
<option>Max HP</option>
<option>Lifesteal</option>
<option>M. Block</option>
<option>M. Crit Resistance</option>
<option>M. DEF</option>
<option>M. Dodge</option>
<option>MP Recovery/Attack</option>
<option>MP Recovery/Sec</option>
<option>M. Tough</option>
<option>P. Block</option>
<option>P. Crit Resistance</option>
<option>P. DEF</option>
<option>P. Dodge</option>
<option>P. Tough</option>
<option>Penetration</option>
<option>Recovery</option> -->

{% for stats in dropdown_stats_choices %}
    <option value="{{ stats }}">{{ stats }}</option>
    

{% endfor %}