<div class="row">
        <div class="col">
            <select class="form-control" name="enchant1" required> 
                <option selected></option>
                {% for stats in dropdown_stats_choices %}
                    <option value="{{ stats }}">{{ stats }}</option>
                {% endfor %}
    
            </select>
    
            <select class="form-control" name="enchant2" required>
                <option selected></option>
                {% for stats in dropdown_stats_choices %}
                    <option value="{{ stats }}">{{ stats }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="col">
            <select class="form-control" name="enchant3" required>
                <option selected></option>
                {% for stats in dropdown_stats_choices %}
                    <option value="{{ stats }}">{{ stats }}</option>
                {% endfor %}
        
            </select>
    
            <select class="form-control" name="enchant4" required>
                <option selected></option>
                {% for stats in dropdown_stats_choices %}
                    <option value="{{ stats }}">{{ stats }}</option>
                {% endfor %}
            
            </select>
        </div>
        
        
    
    </div>
    
    
    
    
    