<div class="form-row">
    
    <div class="ml-2">
        <label class="badge badge-dark float-right"># </label>
    </div>
    <div class="col-3">
        <div class="form-group mb-1">
            <select class="form-control" name="gearset_quantity1" required>
                <option value="2x" default>2x</option>
            </select>

        </div>
    </div>
    <div class="col">
        <select class="form-control" name="gearset_type1" required>
            <option default></option>
           {% include '../_sets.html' %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>
    <div class="col-3">
        <div class="form-group mb-1">
            <select class="form-control" name="gearset_quantity2" required>
                <option value="2x" default>2x</option>
            </select>
        </div>
    </div>
    <div class="col">
        <select class="form-control" name="gearset_type2" required>
            <option default></option>
            {% include '../_sets.html' %}
        </select>
    </div>
</div>