<!-- Parsley Error Div -->
<div id="gear_options_total_errors"></div> 

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right"># </label>
    </div>

    <div class="col-3">
        <select class="form-control select_4x" name="gear_options_num1" required data-parsley-errors-container="#gear_options_total_errors" data-parsley-sumof16="">
            <option value="1x">1x</option>
            {% include './_4x.html' %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="gear_options_stats1" required>
            <option selected></option>
            {% include './dropdown_stats.html' %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
        <select class="form-control select_4x" name="gear_options_num2" required >
            <option value="1x">1x</option>
            {% include './_4x.html' %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="gear_options_stats2" required>
            <option selected></option>
            {% include './dropdown_stats.html' %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
        <select class="form-control select_4x" name="gear_options_num3" required >
            <option value="1x">1x</option>
            {% include './_4x.html' %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="gear_options_stats3" required>
            <option selected></option>
            {% include './dropdown_stats.html' %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
        <select class="form-control select_4x" name="gear_options_num4" required >
            <option value="1x">1x</option>
            {% include './_4x.html' %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="gear_options_stats4" required>
            <option selected></option>
            {% include './dropdown_stats.html' %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
         <select class="form-control select_4x" name="gear_options_num5" id="gear_options_num5" data-parsley-trigger="change"  >   
            <option default></option>
            <option value="1x">1x</option>
            {% include './_4x_optional.html' %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="gear_options_stats5" id="gear_options_stats5" data-parsley-trigger="change"   >
            <option selected></option>
            {% include './dropdown_stats.html' %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
        <select class="form-control select_4x" name="gear_options_num6" id="gear_options_num6" data-parsley-trigger="change" >
            <option default></option>
            <option value="1x">1x</option>
            {% include './_4x_optional.html' %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="gear_options_stats6" id="gear_options_stats6" data-parsley-trigger="change">
            <option selected></option>
            {% include './dropdown_stats.html' %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
        <select class="form-control select_4x" name="gear_options_num7" id="gear_options_num7" data-parsley-trigger="change" >
            <option default></option>
            <option value="1x">1x</option>
            {% include './_4x_optional.html' %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="gear_options_stats7" id="gear_options_stats7" data-parsley-trigger="change">
            <option selected></option>
            {% include './dropdown_stats.html' %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
        <select class="form-control select_4x" name="gear_options_num8" id="gear_options_num8" data-parsley-trigger="change">
            <option default></option>
            <option value="1x">1x</option>
            {% include './_4x_optional.html' %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="gear_options_stats8" id="gear_options_stats8" data-parsley-trigger="change">
            <option selected></option>
            {% include './dropdown_stats.html' %}
        </select>
    </div>
</div>
