<!-- 
<label class="btn btn-sm btn-outline-dark">
    <input class="d-none" type="radio" name="radio_runes" value="normal_runes" autocomplete="off" onclick="showNormal();" />Normal
</label>

<label class="btn btn-sm btn-outline-dark">
    <input class="d-none" type="radio" name="radio_runes" id="radio_velk_runes" autocomplete="off" onclick="showVelk();" />Velkazar
</label> -->

<div class="col p-0">
    <div class="d-flex justify-content-between ">
        <div>
            <label class="badge badge-dark ">Runes - Weapon:* </label>
        </div>
        <div>
            <label class="badge badge-danger " data-toggle="tooltip" title="Click on the V icon to toggle between normal and Velkazar runes." >? </label> 
        </div>
         
        
    </div>
</div>

<!-- Rune weapon 1 -->
<div class="input-group" data-toggle="buttons">
      
    <select id="runes_weapon1a" class="form-control" name="runes_weapon1a" onchange="update_w1();" >
        <option disabled>Normal Rune</option>
        <option>MP Recovery/Attack</option>
        <option>M.Block DEF</option>
        <option selected>ATK</option>
        <option>P.Block DEF</option>
        <option>Penetration</option>
        <option>Lifesteal</option>
        <option>P.Tough</option>
        <option>M.Tough</option>
    </select>

    <select class="form-control hide " name="runes_weapon1b" id="runes_weapon1b" onchange="update_w1();" >
        {% include './_dropdown_stats_velk.html' %}
    </select>
    
    <select class="form-control hide " name="runes_weapon1c" id="runes_weapon1c" onchange="update_w1();" >
        {% include './_dropdown_stats_velk.html' %}
    </select>
    
    <!-- Hidden -->
    <input type="hidden" name="runes_weapon1" value="" id="runes_weapon1" required />

    <div class="input-group-append">
        <div class="input-group-btn">
            <label class="btn btn-outline-danger">
                <input id="checkbox_runes_weapon1" class="d-none" type="checkbox" onchange="showVelk_w1(); update_w1();" />V
            </label>
        </div>
    </div>
    
</div>

<!-- Runes weapon 2 -->
<div class="input-group " data-toggle="buttons">
    
    <select id="runes_weapon2a" class="form-control" name="runes_weapon2a" onchange="update_w2();" >
        <option disabled>Normal Rune</option>
        <option>MP Recovery/Attack</option>
        <option>M.Block DEF</option>
        <option selected>ATK</option>
        <option>P.Block DEF</option>
        <option>Penetration</option>
        <option>Lifesteal</option>
        <option>P.Tough</option>
        <option>M.Tough</option>
    </select>

    <select class="form-control hide" name="runes_weapon2b" id="runes_weapon2b" onchange="update_w2();" >
        {% include './_dropdown_stats_velk.html' %}
    </select>

    <select class="form-control hide" name="runes_weapon2c" id="runes_weapon2c" onchange="update_w2();" >
        {% include './_dropdown_stats_velk.html' %}
    </select>

    <!-- Hidden -->
    <input type="hidden" name="runes_weapon2" value="" id="runes_weapon2" required />

    <div class="input-group-append">
        <div class="input-group-btn">
            <label class="btn btn-outline-danger">
                <input id="checkbox_runes_weapon2" class="d-none" type="checkbox" onchange="showVelk_w2(); update_w2();" />V
            </label>
        </div>
    </div>

</div>

<!-- Runes weapon 3 -->
<div class="input-group" data-toggle="buttons">
    
    <select id="runes_weapon3a" class="form-control" name="runes_weapon3a" onchange="update_w3();" >
        <option disabled>Normal Rune</option>
        <option>MP Recovery/Attack</option>
        <option>M.Block DEF</option>
        <option selected>ATK</option>
        <option>P.Block DEF</option>
        <option>Penetration</option>
        <option>Lifesteal</option>
        <option>P.Tough</option>
        <option>M.Tough</option>
    </select>

    <select class="form-control hide" name="runes_weapon3b" id="runes_weapon3b" onchange="update_w3();" >
        {% include './_dropdown_stats_velk.html' %}
    </select>

    <select class="form-control hide" name="runes_weapon3c" id="runes_weapon3c" onchange="update_w3();" >
        {% include './_dropdown_stats_velk.html' %}
    </select>
    
    <!-- Hidden -->
    <input type="hidden" name="runes_weapon3" value="" id="runes_weapon3"  />

    <div class="input-group-append">
        <div class="input-group-btn">
            <label class="btn btn-outline-danger">
                <input id="checkbox_runes_weapon3" class="d-none" type="checkbox" onchange="showVelk_w3(); update_w3();"/>V
            </label>
        </div>
    </div>

</div>


<!-- Rune Armor -->
<label class="badge badge-dark">Runes - Armor:* </label>
<div class="input-group" data-toggle="buttons">

    

    <select id="runes_armor1a" class="form-control" name="runes_armor1a" onchange="update_a1();" >
        <option disabled>Normal Rune</option>
        <option>M.Block</option>
        <option>Crit DMG</option>
        <option>P.DEF</option>
        <option>ACC </option>
        <option>M.DEF</option>
        <option>CC Resist</option>
        <option>MAX HP</option>
        <option>P.Block</option>
    </select>

    <select class="form-control hide" name="runes_armor1b" id="runes_armor1b" onchange="update_a1();" >
        {% include './_dropdown_stats_velk.html' %}
    </select>

    <select class="form-control hide" name="runes_armor1c" id="runes_armor1c" onchange="update_a1();" >
        {% include './_dropdown_stats_velk.html' %}
    </select>

    <!-- Hidden -->
    <input type="hidden" name="runes_armor" value="" id="runes_armor"  />

    <div class="input-group-append">
        <div class="input-group-btn">
            <label class="btn btn-outline-danger">
                <input id="checkbox_runes_armor" class="d-none" type="checkbox" onchange="showVelk_a1(); update_a1();"/>V
            </label>
        </div>
    </div>


</div>

<!-- Rune Secondary -->
<label class="badge badge-dark">Runes - Secondary:* </label> 
<div class="input-group" data-toggle="buttons">

    <select id="runes_secondary1a" class="form-control" name="runes_secondary1a" onchange="update_s1();" > 
        <option disabled>Normal Rune</option>
        <option>P.Dodge</option>
        <option>M.Dodge</option>
        <option>MP Recovery/DMG</option>
        <option>Crit</option>
    </select>

    <select class="form-control hide" name="runes_secondary1b" id="runes_secondary1b" onchange="update_s1();" >
        {% include './_dropdown_stats_velk.html' %}
    </select>

    <select class="form-control hide" name="runes_secondary1c" id="runes_secondary1c" onchange="update_s1();" >
        {% include './_dropdown_stats_velk.html' %}
    </select>

    <!-- Hidden -->
    <input type="hidden" name="runes_secondary" value="" id="runes_secondary"  />

    <div class="input-group-append">
        <div class="input-group-btn">
            <label class="btn btn-outline-danger">
                <input id="checkbox_runes_secondary" class="d-none" type="checkbox" onchange="showVelk_s1(); update_s1();"/>V
            </label>
        </div>
    </div>



</div>

