{% extends 'base.html' %} 
{% load static %}


{% block content %}

<div class="row d-flex justify-content-center " >

    <div class="col">

        <div class="row mb-3">

            <div class="col">
                <p>Please select a hero to proceed.</p>
                
            </div>
            <div class="col"></div>
            <div class="col">
                <input type="text" placeholder="Search" id="hero_search" class="form-control">
            </div>

        </div>
           
               
        <div class="row d-flex justify-content-center" >
            {% for hero in heroes %}  
                <div class="hero_div" hero-name="{{ hero.hero_name }}">
                    
                    <label class="mb-1 p-1" >
                        <a href="{% url 'builds:create_build' hero.hero_name %}" >
                            
                            {% with 'https://ik.imagekit.io/0h736tphh/krbuilds/hero/tr:n-50/'|add:hero.hero_name|add:'.png' as hero_img %}
                                <img class="hero_selector_img rounded" src="{{ hero_img }}" alt="" data-toggle="tooltip" title="{{ hero.hero_name }}"> 
                            {% endwith %}
                        </a>
                        
                    </label>
                    
                </div>   
                        
            {% endfor %}
        </div>

    </div>
      
</div>

{% endblock %}