
<label class="badge badge-dark ">Transcend Perks: </label>
<div class="form-group" >
  <div class="btn-group-toggle" data-toggle="buttons">
    <label class="badge badge-dark">T1 </label>
    <label class="btn btn-outline-dark">
      <input type="checkbox" value="T1_1" autocomplete="off" name="transcend_perks" />1
    </label>
    <label class="btn btn-outline-dark">
      <input type="checkbox" value="T1_2" autocomplete="off" name="transcend_perks" />2
    </label>
    <label class="btn btn-outline-dark">
      <input type="checkbox" value="T1_3" autocomplete="off" name="transcend_perks" />3
    </label>
    <label class="btn btn-outline-dark">
      <input type="checkbox" value="T1_4" autocomplete="off" name="transcend_perks" />4
    </label>
    <label class="btn btn-outline-dark">
      <input type="checkbox" value="T1_5" autocomplete="off" name="transcend_perks" />5
    </label>
  </div>
</div>

<div class="form-group">
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="badge badge-dark">T2 </label>
        <label class="btn btn-outline-dark">
        <input type="checkbox" value="T2_1" autocomplete="off" name="transcend_perks" />1
        </label>
        <label class="btn btn-outline-dark">
        <input type="checkbox" value="T2_2" autocomplete="off" name="transcend_perks" />2
        </label>
        <label class="btn btn-outline-dark">
        <input type="checkbox" value="T2_3" autocomplete="off" name="transcend_perks" />3
        </label>
        <label class="btn btn-outline-dark">
        <input type="checkbox" value="T2_4" autocomplete="off" name="transcend_perks" />4
        </label>
        <label class="btn btn-outline-dark">
        <input type="checkbox" value="T2_5" autocomplete="off" name="transcend_perks" />5
        </label>
    </div>
</div>

<div class="form-group">
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="badge badge-dark">T3 </label>
        <label class="btn btn-outline-dark">
        <input type="checkbox" value="T3_1" autocomplete="off" name="transcend_perks" />1
        </label>
        <label class="btn btn-outline-dark">
        <input type="checkbox" value="T3_2" autocomplete="off" name="transcend_perks" />2
        </label>
        <label class="btn btn-outline-dark">
        <input type="checkbox" value="T3_3" autocomplete="off" name="transcend_perks" />3
        </label>
        <label class="btn btn-outline-dark">
        <input type="checkbox" value="T3_4" autocomplete="off" name="transcend_perks" />4
        </label>
    </div>

    <div class="btn-group-toggle pt-1" data-toggle="buttons">
        <label class="badge badge-dark invisible">T3 </label>
        <label class="btn btn-outline-dark">
        <input type="checkbox" value="T3_5" autocomplete="off" name="transcend_perks" />5
        </label>
        <label class="btn btn-outline-dark">
        <input type="checkbox" value="T3_6" autocomplete="off" name="transcend_perks" />6
        </label>
        <label class="btn btn-outline-dark">
        <input type="checkbox" value="T3_7" autocomplete="off" name="transcend_perks" />7
        </label>
        <label class="btn btn-outline-dark">
        <input type="checkbox" value="T3_8" autocomplete="off" name="transcend_perks" />8
        </label>
    </div>
</div>

<div class="form-group">
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="badge badge-dark">T5 </label>
        <label class="btn btn-outline-dark">
        <input type="checkbox" value="T5_1" autocomplete="off" name="transcend_perks" />1
        </label>
        <label class="btn btn-outline-dark">
        <input type="checkbox" value="T5_2" autocomplete="off" name="transcend_perks" />2
        </label>
    </div>
</div>
