<select class="form-control" name="unique_treasure_skill_num" required>
    <option default></option>
    <option>UT1</option>
    <option>UT2</option>
    <option>UT3</option>
    <option>UT4</option>
</select>