<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right"># </label>
    </div>

    <div class="col-3">
        <select class="form-control" name="unique_treasure_options_num1" required>
            <option default>1x</option>
            <option>2x</option>
            <option>3x</option>
            <option>4x</option>
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="unique_treasure_option1" required>
            <option selected></option>
            {% include './dropdown_stats.html' %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
        <select class="form-control" name="unique_treasure_options_num2" >
            <option selected></option>
            {% for key,value in unique_treasure_num_choices.items %}
                <option value="{{ key }}" >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="unique_treasure_option2" >
            <option selected></option>
            {% include './dropdown_stats.html' %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
        <select class="form-control" name="unique_treasure_options_num3" >
            <option selected></option>
            {% for key,value in unique_treasure_num_choices.items %}
                <option value="{{ key }}" >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="unique_treasure_option3" >
            <option selected></option>
            {% include './dropdown_stats.html' %}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="ml-2">
        <label class="badge badge-dark float-right invisible"># </label>
    </div>

    <div class="col-3">
        <select class="form-control" name="unique_treasure_options_num4" >
            <option selected></option>
            {% for key,value in unique_treasure_num_choices.items %}
                <option value="{{ key }}" >{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <select class="form-control" name="unique_treasure_option4" >
            <option selected></option>
            {% include './dropdown_stats.html' %}
        </select>
    </div>
</div>